<%- include header %>

    <h2><%-content.date%></h2>

    <%var result = content.results%>
    <%var len = result.length%>

    <%for (var i=0; i<len; i++){%>
        <p>
            <%-result[i].name_0%> <%-result[i].score_0%> : <%-result[i].score_1%> <%-result[i].name_1%>
        </p>
    <%}%>


<%- include footer %>